.login-page {
    display: flex;
    height: 85vh;
    align-content: center;
    justify-content: center;
    background-image: url("./../assets/loginpagebackground.jpeg");
    background-repeat: no-repeat;
}

#login-form {
    font-weight: 500;
    margin-top: 20px;
    width: 30%;
    height: 70%;
    padding: 20px;
    box-shadow: 0 10px 10px 15px rgba(0, 84, 255, 0.35);
    border-radius: 20px;
}

#username-label, #password-label, #login-button {
    font-family: "Acme",sans-serif;
    font-size: 20px;
}

.input-eye {
    display: flex;
}

#eye-open, #eye-closed {
    background-color: transparent;
    border: none;
    color: rgba(26, 26, 26, 0.52);
    font-weight: 400;
}

#login-button {
    background-color: rgba(0, 12, 255, 0.56);
    border: none;
}

#login-button:hover {
    background-color: rgba(0, 12, 255, 0.71);
}

#login-title {
        font-family: "Tapestry", "acme", serif;
        font-weight: 800;
        font-size: 28px;
        font-style: normal;
        padding: 0;
    margin-left: 30%;
}