.login-page {
    display: flex;
    height: 85vh;
    align-content: center;
    justify-content: center;
}

#login-form {
    font-weight: 500;
    margin-top: 20px;
    width: 30%;
    height: 70%;
    padding: 20px;
    box-shadow: 0 10px 10px 15px rgba(0, 84, 255, 0.35);
    border-radius: 20px;
}

#username-label, #password-label, #login-button {
    font-family: "Acme",sans-serif;
    font-size: 20px;
}