.spinner{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#post {
    margin: 20px;
    color: #747bff;
}

#post:hover {
    background-color: #e0d7d7;
}


#posts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

#read {
    text-decoration: none;
    border: solid grey 1px;
    padding: 5px 15px;
    border-radius: 8px;
    color: white;
    background-color: #646cff;
    font-weight: 600;
}
