.spinner{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#post {
    margin: 20px;
    color: #747bff;
}

#post:hover {
    background-color: rgba(224, 215, 215, 0.21);
}


#posts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

#read {
    text-decoration: none;
    border: solid grey 1px;
    padding: 5px 15px;
    border-radius: 8px;
    color: white;
    background-color: #646cff;
    font-weight: 600;
}

#comments-count {
    font-weight: 600;
    margin-left: 27%;
    text-decoration: none;
}

#comments-count:hover {
    cursor: pointer;
}

#comments-icon {
    width: 20px;
    height: 20px;
}

.comments-number {
    color: #0698f3;
}

#user-nav-bar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    font-weight: 500;
    background-color: rgba(0, 19, 255, 0.31);
}

#user-hom-icons {
    display: flex;
    width: 90%;
    gap: 80%;
    font-size: 18px;
}

#user-nav-brand {
    margin-left: 6px;
    width:10%;
    font-family: "Tapestry", "acme", serif;
}

#logout:hover, #companies:hover, #home-user:hover{
    color: rgba(255, 255, 255, 0.62);
}


#outlet {
    margin-top: 56px;
    ;
}

#post-comments {
    min-height: 90vh;
    margin: 0 20px 0 20px;
    padding: 20px;
    background-image: url("./../assets/comments-page.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: 88%;
    background-position-y: 60%;
    background-size: 42%;
}

#comment {
    border: none;
    margin-bottom: 20px;
    width: 60%;
    background-color: transparent;
    box-shadow: 4px 8px 15px rgba(0, 19, 255, 0.41);
}

#navigators {
    display: flex;
    gap: 20px;
}